@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    background-color: #FAF9F7;
    font-family: Roboto, sans-serif;
    color: #151515;
}
main
{
    margin: auto;
    width: 60vh;
}
h1
{
    font-weight: 400;
    font-size: 4vh;
    margin-left: 5vh;
}
.red
{
    color: #A63D40;
}
.blue
{
    color: #6494AA;
}
.keyboardBox
{
    width: 50vh;
    height: 25vh;
    margin: auto;
    margin-bottom: 12%;
    position: relative;
}
.keyboard
{
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid #151515;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
    border-radius: .5vh;
    z-index: 5;
    position: absolute;
}
.keyboard .noteContainer
{
    border-left: 1px solid #151515;
    position: relative;
}
.keyboard .noteContainer:first-child
{
    border-left: none;
}
.keyboard .noteContainer .note
{
    width: 100%;
    height: 100%;
}
.keyboard .noteContainer .noteS
{
  border-bottom: 0vh solid #6494AA;
  transition: .15s;
}
.keyboard .noteContainer .sharpNote
{
    background-color: #151515;
    width: 55%;
    height: 60%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
    border-radius: 0 0 .5vh .5vh;
    z-index: 6;
}
.chosen
{
    border-bottom-width: 1.4vh !important;
}
.chosenSharp
{
    border: .8vh solid #6494AA;
    border-top: none;
    border-bottom: 1vh solid #6494AA;
}
.rootNote
{
    border-color: #A63D40 !important;
}
.keyboardBox .notesText
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10%;
    padding: 5% 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    z-index: 1;
    transition: bottom .3s;
    user-select: none;
    font-size: 2vh;
}
.keyboardBox:hover .notesText
{
    bottom: -15%;
}
.tips
{
    width: 100%;
    text-align: center;
    font-size: 1.8vh;
}
.rootBtn
{
  border: 1px solid #A63D40;
  padding: 0 1%;
  user-select: none;
  transition: .1s;
}
.rootBtn:hover
{
  cursor: pointer;
}

.rootBtnActive
{
  background-color: #A63D40;
  color: white;
}
button
{
    margin: 5% auto;
    display: block;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 2.5vh;
    padding: 1.2% 5%;
    color: #FAF9F7;
    background-color: #A6A6A6;
    user-select: none;
}
.searchActive
{
    background-color: #A63D40;
}
.searchActive:hover
{
    background-color: #96373A;
    cursor: pointer;
}
.searchActive:active
{
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
}
hr
{
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
    width: 50vh;
    margin-bottom: -1px;
}
.right
{
    position: relative;
    width: 50vh;
    margin: auto;
}
.results
{
    position: absolute;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-row-gap: .8vh;
    font-size: 1.8vh;
    width: 100%;
    top: 1vh;
}
.results .notesOfScale
{
    display: flex;
    align-items: center;
}
.noteInScale
{
    width: 3vh;
    border: 1px solid black;
    text-align: center;
    margin-right: 3%;
}
.hidden
{
    transform: translateY(calc(-100% - 1vh));
}
