main
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 75vh 1fr;
}
.left
{
  position: fixed;
  width: 75vh;
}
h1
{
    font-size: 6vh;
}
.tips
{
    width: 100%;
    text-align: center;
    font-size: 2.2vh;
}
button
{
  margin: 12% auto;
  font-size: 5vh;
  padding: 1.2% 5%;
}
.keyboardBox
{
    width: 65vh;
    height: 32.5vh;
}
.right
{
  height: 100%;
  width: calc(100vw - 85vh);
  margin: 5vh auto auto 80vh;
}
hr
{
  width: 100%;
}
.results
{
  font-size: 2.4vh;
  top: 2.4vh;
  grid-row-gap: 1.4vh;
}
.noteInScale
{
    width: 4.2vh;
    margin-right: 5%;
}
